@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

/* Custom Scrollbar for the brutalist look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF6200;
}

